*{
  margin: 0;
  padding: 0;
}

:root {
  font-size: 62.5%;
}

body{
  font-family: 'Arial';
  font-size: 1.8rem;
}

main {
  padding: 7rem;
}

/* flex wrap quebra linha(ou nao) */
/* flex direction cow reverse ou row reverse*/
/* justify content cria espaço ao redor dos itens */
/* gap espaçamento entre os itens vertical e horizon, nessa ordem */
.boxes {
  /* height: calc(100vh - (7 *2rem)); */
  height: calc(100vh);
  position: relative;
  display: flex;
  /* flex-wrap: wrap; */
  flex-flow: row wrap;
  justify-content:space-around;
  align-content: center;
  gap: 1rem 5rem;
}

.box {
  min-height: 5rem;
  min-width: 8rem;
  padding: 1.5rem;
  border: 10px solid red;
  border-radius: 0.4rem;
  background-color: blue;
  color: #fff;
  font-size: 4rem;
  /* flex-basis: calc(40% - 5rem); */
  flex: 1;/* trabalha proporções da area */
  display: flex;
  gap: 0 2rem;
  justify-content: center;
  align-content: center;
}

/* order, negativa posiciona no inicio, positiva posiciona no final, zero fica na posicao inicial */
.box:nth-child(3) {
  order: -1;
}